{% extends 'base.html' %}
{% block contenido %}
<div class="container mt-4">
    <h2>Crear Nuevo Juego</h2>
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Nombre del juego</label>
            <input type="text" name="nombre" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
        <a href="{{ url_for('rutas.panel_admin') }}" class="btn btn-secondary">Volver</a>
    </form>
</div>
{% endblock %}

