{% extends 'base.html' %}
{% block titulo %}Editar Juego{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h2>Editar Juego</h2>

    <form method="POST">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre del juego</label>
            <input type="text" class="form-control" id="nombre" name="nombre" value="{{ juego.nombre }}" required>
        </div>

        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        <a href="{{ url_for('rutas.panel_admin') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}

